table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    border-radius: 15px;
}

td,
th {
    border: 1px solid #706d6d;
    text-align: left;
    padding: 8px;
    color: #ccbbbb;
    font-size: 17px;

}

tr:nth-child(even) {
    background-color: #504d4d;
}